*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background: url("../images/developer.png"), url("../images/header_bg\ -\ Copy.png"), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat:no-repeat ;
    padding-top: 50px;
}
.btn{
    background-color: #FD6E0A;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border:2px solid red; */
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

nav .logo h2{
    width: 121px;
    font-size: 45px;
    font-weight: 900;
    color: #181818;
    padding: 17px 0px;
    justify-content: center;
    align-items: center;
}
 .logo .orange{
    color: #FD6E0A;
 }
 nav .menu{
    display: flex;
    gap:51px;
    align-items: center;
 }
  nav .menu li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
  }
   nav .menu li {
    list-style: none;
   }
   #banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   #banner .banner-content{
    max-width: 585px;
   }
   #banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
   }
   #banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
   }
   #banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
   }
   #banner .banner-content .banner-btn{
    display: flex;
    gap: 30px;
   }
   #banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;
   }
   #about{
    width: 71%;
    max-width: 1140px;
    border: 2px solid white;
    margin: 130px 230px;
    background-color: #FFF8F3;
   }
   #about .about-container{
   
    margin: 131px 156px;
    text-align: center;
   }
 .section-title{
      font-size: 35px;
      font-weight: bold;
      color: #181818;
      margin-bottom: 30px;
   }
 .section-text{
    font-size: 18;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
 }
 .about-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 .about-footer .about-card{
    padding: 5px;
 }
 .about-card p{
    font-size: 20;
    line-height: 30px;
    color: #757575;
 }
 .about-card h4{
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    color:#474747;
 }
 #skills{
   padding-top: 130px;
 }
#skills .skill-container{
   width: 71%;
   max-width: 1140px;
   margin: 0 auto;
   text-align: center;
   /* border:  2px solid red; */
}
#skills .skill-container .section-text{
   width: 827px;
   margin: 0 auto;
}
.skill-container .card-container{
   margin-top: 50px;
   display: flex;
   justify-content: space-between;
}
.card-container .skill-card{
   border: none;
   width: 237px;
   padding: 30px;
   text-align: left;
   box-shadow: 10px 10px 10px #dddada;
}
 .card-container .skill-card img{
  width: 44px;
 margin-right: 193px;
 margin-bottom: 30px;
}
.skill-card h4{
   font-size: 20px;
   font-weight: bold;
   color: #181818;
   margin-bottom: 20px;
}
.skill-card p{
   font-size: 16px;
   line-height: 28px;
   width: 201px;
}

